.Button {
	outline: none;
	border: 1px solid var(--twitter-color);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	border-radius: 20px;
	padding: 8px 14px;
	font-weight: 700;
}

.Button:disabled {
	cursor: initial;
	opacity: 0.5;
}

.Button.Outline {
	background-color: transparent;
	color: var(--twitter-color);
}

.Button.Outline:hover {
	background-color: var(--light-twitter-color);
}

.Button.Outline:disabled:hover {
	background-color: transparent;
}

.Button.Filled {
	background-color: var(--twitter-color);
	color: #fff;
}

.Button.Filled:hover {
	background: var(--dark-twitter-color);
}

.Button.Filled:disabled:hover {
	background-color: var(--twitter-color);
}

.Button.Block {
	display: block;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: bold;
}
